<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gacha Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.gif') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <header class="flex-rows rows-spaced-between rows-aligned-centre">
            <a href="{{ url_for('my_view.home')}}"><img src="/static/images/logo_long.png"></a>
            <nav class="roboto-medium">
                <a href="{{ url_for('my_view.home')}}">Home </a>
                <a href="{{ url_for('my_view.view_records')}}">View Records </a>
                <a href = "#">A Link </a>
                <a href = "#">A Link </a>
            </nav>

        </header>

        {% block content %}
        {% endblock%}
        <footer>
            <p class="centred-text">
                 Gacha Tracker is a project I have created to practise my Python, HTML, CSS, JS, UX/UI, and data skills. It is a WIP and I will continue to update it
            </p> 
         </footer>

</body>
</html>