{% extends 'base.html' %}

{% block content %}
<div class = "flex-rows rows-spaced-even form-area centred">
<img src="/static/images/{{form_type}}_select.jpg">
<div class = "right">
    <p>Put some general stats about the same here - what it is, how many summons I've done. Stuff like that.</p>
    <p>The game is {{game_stats["name"]}}</p>
    <details>
    <summary>
        Click to enter a new record:
    </summary>
            <form action ="/add_wor" method = "POST" class = "record-submission roboto-medium">

                    <!-- Character Name Input -->
                    <label for="character_name">Character Name:</label>
                    <input type="text" id="character_name" name="character_name" required aria-describedby="character-name-description">

                    <!-- Currency Selection -->
                    <label for="currency_used">Choose a currency:</label>
                    <select name="currency_used" id="currency_used" aria-label="Select a currency">
                        <option value="gems">Gems</option>
                        <option value="blue">Rare</option>
                        <option value="red">Ancient</option>
                        <option value="gold">Legendary</option>
                    </select>
                
                    <!-- Summon Type / Event Selection -->
                    <label for="summon_type">Summon Type / Event:</label>
                    <select name="summon_type" id="summon_type" aria-label="Select summon type or event">
                        <option value="invo">Invocation of Spirits</option>
                        <option value="divine">Divine</option>
                    </select>
                
                    <!-- Rarity Selection -->
                    <label for="rarity">Rarity:</label>
                    <select name="rarity" id="rarity" aria-label="Select rarity">
                        <option value="two">**</option>
                        <option value="three">***</option>
                        <option value="four">****</option>
                        <option value="five">*****</option>
                    </select>
                
                    <!-- Faction Selection -->
                    <label for="faction">Faction:</label>
                    <select name="faction" id="faction" aria-label="Select faction">
                        <option value="facts">Faction 1</option>
                        <option value="faction2">Faction 2</option>
                        <option value="faction3">Faction 3</option>
                    </select>
                
                    <!-- Second Faction Selection -->
                    <label for="second_faction">Second Faction:</label>
                    <select name="second_faction" id="second_faction" aria-label="Select second faction">
                        <option value="facts">Faction 1</option>
                        <option value="faction2">Faction 2</option>
                        <option value="faction3">Faction 3</option>
                    </select>
                
                    <!-- Owned Before Radio Button -->
                    <fieldset>
                        <legend>Lord Hero:</legend>
                        <input type="radio" id="yes" name="lord_hero" value="yes" aria-label="Yes, the hero is a Lord">
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="lord_hero" value="no" aria-label="No, the hero is not a Lord">
                        <label for="no">No</label><br>
                    </fieldset>

                    <!---Date Summon Completed-->
                    <label for="birthday">Date Summoned:</label>
                    <input type="date" id="summonDate" name="summon_date">
                
                    <!-- Submit Button -->
                    <button type="submit">Submit Record</button>
                </form>
            </details>
            <details>
                <summary>
                    See the last ten records
                </summary>
                last ten records listed here, and a a link to the full table
            </details>
            <details>
                <summary>
                    See some pull statistics!
                </summary>
                pull stats like average pull between legendaries, most pulled hero etc
            </details>
            </div>
            </div>
{% endblock %}