{% extends 'base.html' %}

{% block content %}

<div class = "flex-rows rows-spaced-even form-area centred">

<img src="/static/images/{{form_type}}_select.jpg">

<div class = "right">
    <p>Put some general stats about the same here - what it is, how many summons I've done. Stuff like that.</p>
    <p>The game is {{game_stats["game_name"]}}</p>
    
    <details>
        <summary>
            Click to enter a new record:
        </summary>
            <form action ="/add_record" method = "POST" class = "record-submission roboto-medium">

                    <!-- Hidden field that sends the variable without showing it -->
                    <input type="hidden" name="game_name" value="{{game_stats['game_name']}}">

                    <!-- Character Name Input -->
                    <label for="character_name">Character Name:</label>
                    <input type="text" id="character_name" name="character_name" required aria-describedby="character-name-description">

                    <!-- Currency Selection -->
                    <label for="currency_used">Select the currency used:</label>
                    <select name="currency_used" id="currency_used" aria-label="Select a currency">
                        {% for currency in game_stats["currencies"] %}
                        <option value="{{currency}}">{{currency}}</option>
                        {% endfor %}
                    </select>
                
                    <!-- Summon Type / Event Selection -->
                    <label for="summon_type">Summon Type / Event:</label>
                    <select name="summon_type" id="summon_type" aria-label="Select summon type or event">
                        {% for event in game_stats["summon_event"] %}
                        <option value="{{event}}">{{event}}</option>
                        {% endfor %}
                    </select>
                
                    <!-- Rarity Selection -->
                    <label for="rarity">Rarity:</label>
                    <select name="rarity" id="rarity" aria-label="Select rarity">
                        <option value="two">**</option>
                        <option value="three">***</option>
                        <option value="four">****</option>
                        <option value="five">*****</option>
                    </select>
                
                    <!-- Faction Selection -->
                    <label for="faction">{{game_stats["field_one"]}}</label>
                    <select name="faction" id="faction" aria-label="Select faction">
                        {% for fill in game_stats["field_one_filler"] %}
                        <option value="{{fill}}">{{fill}}</option>
                        {% endfor %}
                    </select>
                
                    <!-- Second Faction Selection -->
                    <label for="second_faction">{{game_stats["field_two"]}}</label>
                    <select name="second_faction" id="faction" aria-label="Select faction">
                        {% for fill in game_stats["field_two_filler"] %}
                        <option value="{{fill}}">{{fill}}</option>
                        {% endfor %}
                    </select>
                
                    <!-- Owned Before Radio Button -->
                    <fieldset>
                        <legend>{{game_stats["field_three"]}}</legend>
                        <input type="radio" id="yes" name="field_three" value="yes" aria-label="Yes">
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="field_three" value="no" aria-label="No">
                        <label for="no">No</label><br>
                    </fieldset>

                    <!---Date Summon Completed-->
                    <label for="birthday">Date Summoned:</label>
                    <input type="date" id="summonDate" name="summon_date">
                
                    <!-- Submit Button -->
                    <button type="submit">Submit Record</button>
                </form>
            </details>

            <details>
                <summary>
                    View the last ten summons: 
                </summary>
                {% if record_collection %}
                    <table>
                        <tr>
                            <th>Date Pulled</th>
                            <th>Character Name</th>
                            <th>Rarity</th>
                        </tr>
                        {% for record in record_collection %}
                        <tr>
                            <td>{{record.timestamp}}</td>
                            <td>{{record.character_name}}</td>
                            <td>{{record.character_rarity}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <a href="/records/{{game_stats['game_name']}}">View all results for {{game_stats['game_name']}}</a>
             </details>

            <details>
                <summary>
                    See some pull statistics!
                </summary>
                pull stats like average pull between legendaries, most pulled hero etc
            </details>
            </div>
            </div>
{% endblock %}