<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gacha Tracker</title>
</head>

<body>
    <div>
        <h1>Gacha Tracker</h1>
<p>{% if message %}
    {{message}}
    {% endif %}
</p>
        <form action="/form_select" method="post">
            <div>
                <label for="game_names">Choose a game:</label>

                    <select name="games_names" id="gameNames">
                    <option value="wor">Watcher of Realms</option>
                    <option value="omni">OmniHeroes</option>
                    <option value="genshin">Genshin Impact</option>
                    </select>

                <button type="submit">Enter Game</button>
            </div>
        </form>

        {% if form_type == "wor" %}
        <p>WOR form</p>
        {% elif form_type == "other" %}
        <p>OTher</p>
        {% else %}
        <p>select a game  above pls</p>
        {% endif %}

        <hr>
        {% for todo in todo_list %}

        <div class="task">
            <div class="task-id">{{todo.id}}</div>
            <div class="button-holder">
                <p>{{ todo.task }}</p>
                {% if todo.complete==False %}
                <p>Task Incomplete. <a href="/update/{{ todo.id }}">Mark as complete?</a></p>
                {% else %}
                <p>Task Complete</p>
                {% endif %}
            </div>
            <div class="stacked"> <a class="button-like"
                    href="/delete/{{ todo.id }}">Delete Task</a></div>
                    <hr>
        </div>
        
        {% endfor %}
</body>

</html>