{% extends 'base.html' %}

{% block content %}


<div class="record-area centred">
  <h2>All Records</h2>
  Filter By Game:
{% if record_collection %}


<table>
    <tr>
      <th>Game</th>
      <th>Date Pulled</th>
      <th>Character Name</th>
      <th>Currency Used</th>
      <th>Summon Event</th>
      <th>Rarity</th>
      <th>Attribute 1</th>
      <th>Attribute 2</th>
      <th>Owned Already?</th>
      <th>Delete</th>
    </tr>
    {% for record in record_collection %}
    <tr>
      <td>{{record.game_name}}</td>
      <td>{{record.timestamp}}</td>
      <td>{{record.character_name}}</td>
      <td>{{record.currency_used}}</td>
      <td>{{record.summon_type}}</td>
      <td>{% for i in range(record.character_rarity) %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
      </td>
      <td>{{record.character_faction}}</td>
      <td>{{record.second_faction}}</td>
      <td>{{record.owned_before}}</td>
      <td>
        <a href="/delete/{{ record.id }}"><i class="fa fa-trash-o" style="font-size:36px"></i></a>
      </td>
    </tr>
    {% endfor %}
    </table>

{% endif %}

</div>

{% endblock %}